<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/7.14.2/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/7.14.2/firebase-analytics.js"></script>

<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyDZZrfrBQ3YdUc3iYVuo9DkKsk2UEq5oB0",
    authDomain: "elearning-b0e71.firebaseapp.com",
    databaseURL: "https://elearning-b0e71.firebaseio.com",
    projectId: "elearning-b0e71",
    storageBucket: "elearning-b0e71.appspot.com",
    messagingSenderId: "731666618762",
    appId: "1:731666618762:web:f89646667a5fa251929073",
    measurementId: "G-3HZEQPTDM0"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  firebase.analytics();
</script>